{% for task in tasks %}
    <div id="task{{ task.id }}">
        <div class="row d-flex" style="border-top: 1px solid #6C757D; {% if task.status %} background-color: #97FF97; {% endif %}">
            <div class="col-1 d-flex justify-content-center align-items-center" style="border-right: 1px solid #6C757D;">
                <input hx-target="#task{{ task.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-patch="/edit_task/{{ task.id }}/" class="form-check-input" type="checkbox" {% if task.status %} checked {% endif %}>
            </div>
            <div class="col-6" style="border-right: 1px solid #6C757D;">
                <p class="text-secondary">{{ task.name }}</p>
            </div>
            <div class="col-2 text-center" style="border-right: 1px solid #6C757D;">
                <p class="text-secondary"></p>
           </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="btn-group my-1">
                    <input type="hidden" value="up" name="upPriority{{ task.id }}">
                    <button hx-target="#tasks{{ p.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post="/edit_task/{{ task.id }}/" hx-include="[name='upPriority{{ task.id }}']" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </button>
                    <input type="hidden" value="down" name="downPriority{{ task.id }}">
                    <button hx-target="#tasks{{ p.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post="/edit_task/{{ task.id }}/" hx-include="[name='downPriority{{ task.id }}']" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"></path>
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"></path>
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </button>
                    <button hx-target="#tasks{{ p.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-delete="/edit_task/{{ task.id }}/" type="button" class="btn btn-outline-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                        </svg>
                        <span class="visually-hidden">Button</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}